{ns hl7-fhir-us-core610.us-core-simple-observation,
 import #{hl7-fhir-r4-core.MolecularSequence
          hl7-fhir-r4-core.Observation
          hl7-fhir-us-core610.us-core-relatedperson
          hl7-fhir-r4-core.ImagingStudy
          zen.fhir
          hl7-fhir-us-core610.us-core-careteam
          hl7-fhir-r4-core.PractitionerRole
          hl7-fhir-us-core610.us-core-practitioner
          hl7-fhir-us-core610.us-core-organization
          hl7-fhir-r4-core.Media
          hl7-fhir-us-core610.us-core-documentreference
          hl7-fhir-us-core610.us-core-patient
          hl7-fhir-us-core610.us-core-questionnaireresponse},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-simple-observation",
         :require #{:category :subject},
         :type zen/map,
         :zen/desc "This US Core FHIR Profile is meant to capture any “simple” observations that are not otherwise covered by other US Core Observation profiles. It represents any type of observation that is not classified as vital signs, laboratory, imaging, or other more specific observation types. This profile promotes interoperability and adoption through common implementation by setting minimum expectations for the Observation resource to record, search, and retrieve observations such as a clinical observation or assertion about a patient's health status or other general observations. This profile identifies which core elements, extensions, vocabularies, and value sets **SHALL** be present in the resource and constrains the way the elements are used when using this profile. It provides the floor for standards development for specific use cases.",
         :keys {:category {:type zen/vector,
                           :slicing {:slices {}},
                           :every {:fhir/flags #{:MS},
                                   :zen/desc "(USCDI) Classification of  type of observation"},
                           :minItems 1},
                :derivedFrom {:type zen/vector,
                              :every {:confirms #{zen.fhir/Reference},
                                      :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Media/schema
                                                                     hl7-fhir-r4-core.ImagingStudy/schema
                                                                     hl7-fhir-r4-core.Observation/schema
                                                                     hl7-fhir-us-core610.us-core-questionnaireresponse/schema
                                                                     hl7-fhir-r4-core.MolecularSequence/schema
                                                                     hl7-fhir-us-core610.us-core-documentreference/schema}},
                                      :zen/desc "(USCDI) US Core Profiles or other resource the observation is made from"}},
                :value {:fhir/polymorphic true,
                        :type zen/map,
                        :exclusive-keys #{#{:time
                                            :SampledData
                                            :string
                                            :dateTime
                                            :Range
                                            :integer
                                            :Ratio
                                            :Period
                                            :CodeableConcept
                                            :Quantity
                                            :boolean}},
                        :fhir/flags #{:MS},
                        :zen/desc "(USCDI) Actual result"},
                :status {:fhir/flags #{:MS},
                         :zen/desc "(USCDI) registered | preliminary | final | amended +"},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :exclusive-keys #{#{:instant
                                                :dateTime
                                                :Period
                                                :Timing}},
                            :fhir/flags #{:MS},
                            :zen/desc "(USCDI) Clinically relevant time/time-period for observation"},
                :code {:fhir/flags #{:MS},
                       :zen/desc "(USCDI) Type of observation (code / type)"},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-core610.us-core-patient/schema}},
                          :zen/desc "(USCDI) Who and/or what the observation is about"},
                :performer {:type zen/vector,
                            :every {:fhir/flags #{:MS},
                                    :confirms #{zen.fhir/Reference},
                                    :zen.fhir/reference {:refers #{hl7-fhir-us-core610.us-core-practitioner/schema
                                                                   hl7-fhir-r4-core.PractitionerRole/schema
                                                                   hl7-fhir-us-core610.us-core-relatedperson/schema
                                                                   hl7-fhir-us-core610.us-core-patient/schema
                                                                   hl7-fhir-us-core610.us-core-careteam/schema
                                                                   hl7-fhir-us-core610.us-core-organization/schema}},
                                    :zen/desc "(USCDI) Who is responsible for the observation"}}},
         :zen.fhir/type "Observation"}}
