{ns hl7-fhir-us-core610.us-core-blood-pressure,
 import #{hl7-fhir-us-core610.us-core-vital-signs zen.fhir},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-us-core610.us-core-vital-signs/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-blood-pressure",
         :require #{:component},
         :type zen/map,
         :zen/desc "To promote interoperability and adoption through common implementation, this profile sets minimum expectations for the Observation resource to record, search, and fetch diastolic and systolic blood pressure observations with standard LOINC codes and UCUM units of measure. It is based on the US Core Vital Signs Profile and identifies which *additional* core elements, extensions, vocabularies, and value sets **SHALL** be present and constrains the way the elements are used when using the profile. It provides the floor for standards development for specific use cases.",
         :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                          :code "85354-9"}}},
                       :fhir/flags #{:MS},
                       :zen/desc "(USCDI) Blood Pressure"},
                :component {:type zen/vector,
                            :slicing {:slices {"systolic" {:schema {:type zen/vector,
                                                                    :minItems 1,
                                                                    :maxItems 1,
                                                                    :every {:type zen/map,
                                                                            :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                                                                                             :code "8480-6"}}},
                                                                                          :fhir/flags #{:MS},
                                                                                          :zen/desc "(USCDI) Systolic Blood Pressure Code"},
                                                                                   :value {:type zen/map,
                                                                                           :keys {:Quantity {:type zen/map,
                                                                                                             :keys {:value {:fhir/flags #{:MS},
                                                                                                                            :zen/desc "(USCDI) Numerical value (with implicit precision)"},
                                                                                                                    :unit {:fhir/flags #{:MS},
                                                                                                                           :zen/desc "(USCDI) Unit representation"},
                                                                                                                    :system {:const {:value "http://unitsofmeasure.org"},
                                                                                                                             :fhir/flags #{:MS},
                                                                                                                             :zen/desc "(USCDI) System that defines coded unit form"},
                                                                                                                    :code {:const {:value "mm[Hg]"},
                                                                                                                           :fhir/flags #{:MS},
                                                                                                                           :zen/desc "(USCDI) Coded form of the unit"}},
                                                                                                             :require #{:system
                                                                                                                        :unit
                                                                                                                        :value
                                                                                                                        :code},
                                                                                                             :fhir/flags #{:MS},
                                                                                                             :zen/desc "(USCDI) Vital Sign Component Value"}}}},
                                                                            :require #{:code}}},
                                                           :filter {:engine :match,
                                                                    :match {:code {:coding #{{:system "http://loinc.org",
                                                                                              :code "8480-6"}}}}}},
                                               "diastolic" {:schema {:type zen/vector,
                                                                     :minItems 1,
                                                                     :maxItems 1,
                                                                     :every {:type zen/map,
                                                                             :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                                                                                              :code "8462-4"}}},
                                                                                           :fhir/flags #{:MS},
                                                                                           :zen/desc "(USCDI) Diastolic Blood Pressure Code"},
                                                                                    :value {:type zen/map,
                                                                                            :keys {:Quantity {:type zen/map,
                                                                                                              :keys {:value {:fhir/flags #{:MS},
                                                                                                                             :zen/desc "(USCDI) Numerical value (with implicit precision)"},
                                                                                                                     :unit {:fhir/flags #{:MS},
                                                                                                                            :zen/desc "(USCDI) Unit representation"},
                                                                                                                     :system {:const {:value "http://unitsofmeasure.org"},
                                                                                                                              :fhir/flags #{:MS},
                                                                                                                              :zen/desc "(USCDI) System that defines coded unit form"},
                                                                                                                     :code {:const {:value "mm[Hg]"},
                                                                                                                            :fhir/flags #{:MS},
                                                                                                                            :zen/desc "(USCDI) Coded form of the unit"}},
                                                                                                              :require #{:system
                                                                                                                         :unit
                                                                                                                         :value
                                                                                                                         :code},
                                                                                                              :fhir/flags #{:MS},
                                                                                                              :zen/desc "(USCDI) Vital Sign Component Value"}}}},
                                                                             :require #{:code}}},
                                                            :filter {:engine :match,
                                                                     :match {:code {:coding #{{:system "http://loinc.org",
                                                                                               :code "8462-4"}}}}}}}},
                            :every {:fhir/flags #{:MS},
                                    :zen/desc "(USCDI) Component observations"},
                            :minItems 2}},
         :zen.fhir/type "Observation"}}
