{ns hl7-fhir-us-core610.us-core-organization,
 import #{hl7-fhir-us-core610.value-set.us-core-usps-state
          zen.fhir
          hl7-fhir-r4-core.Organization},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.Organization/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-organization",
         :require #{:name :active},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for the Organization resource to searching for and fetching an Organization associated with a patient or provider to promote interoperability and adoption through common implementation.  It identifies which core elements, extensions, vocabularies, and value sets **SHALL** be present and constrains the way the elements are used and constrains the way the elements are used when using the profile.  It provides the floor for standards development for specific use cases.",
         :keys {:identifier {:type zen/vector,
                             :slicing {:slices {"NPI" {:schema {:type zen/vector},
                                                       :filter {:engine :match,
                                                                :match {:system "http://hl7.org/fhir/sid/us-npi"}}},
                                                "CLIA" {:schema {:type zen/vector},
                                                        :filter {:engine :match,
                                                                 :match {:system "urn:oid:2.16.840.1.113883.4.7"}}},
                                                "NAIC" {:schema {:type zen/vector},
                                                        :filter {:engine :match,
                                                                 :match {:system "urn:oid:2.16.840.1.113883.6.300"}}}}},
                             :every {:type zen/map,
                                     :keys {:system {:fhir/flags #{:MS}},
                                            :value {:fhir/flags #{:MS}}},
                                     :fhir/flags #{:MS}}},
                :active {:fhir/flags #{:MS}},
                :name {:fhir/flags #{:MS}},
                :telecom {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:system {:fhir/flags #{:MS}},
                                         :value {:fhir/flags #{:MS}}},
                                  :fhir/flags #{:MS}}},
                :address {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:city {:fhir/flags #{:MS}},
                                         :state {:fhir/flags #{:MS},
                                                 :zen.fhir/value-set {:symbol hl7-fhir-us-core610.value-set.us-core-usps-state/value-set,
                                                                      :strength :extensible}},
                                         :line {:type zen/vector,
                                                :every {:fhir/flags #{:MS}},
                                                :maxItems 4},
                                         :postalCode {:fhir/flags #{:MS},
                                                      :zen/desc "US Zip Codes"},
                                         :country {:fhir/flags #{:MS}}},
                                  :fhir/flags #{:MS}}}},
         :zen.fhir/type "Organization"}}
