{ns hl7-fhir-us-core610.us-core-relatedperson,
 import #{zen.fhir
          hl7-fhir-r4-core.RelatedPerson
          hl7-fhir-us-core610.us-core-patient},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.RelatedPerson/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-relatedperson",
         :require #{:active},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for the RelatedPerson resource to record, search, and fetch basic administrative information about persons with a legal or familial relationship to a patient. It identifies which core elements, extensions, vocabularies, and value sets **SHALL** be present in the resource and constrains the way the elements are used when using this profile.  It provides the floor for standards development for specific use cases.",
         :keys {:active {:fhir/flags #{:MS},
                         :zen/desc "(USCDI) Whether this related person's record is in active use"},
                :patient {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-core610.us-core-patient/schema}},
                          :zen/desc "(USCDI) The patient this person is related to"},
                :relationship {:type zen/vector,
                               :every {:fhir/flags #{:MS},
                                       :zen/desc "(USCDI) The nature of the relationship"}},
                :name {:type zen/vector,
                       :every {:fhir/flags #{:MS},
                               :zen/desc "(USCDI) A name associated with the person"}},
                :telecom {:type zen/vector,
                          :every {:fhir/flags #{:MS},
                                  :zen/desc "(USCDI) A contact detail for the person"}},
                :address {:type zen/vector,
                          :every {:fhir/flags #{:MS},
                                  :zen/desc "(USCDI) Address where the related person can be contacted or visited"}}},
         :zen.fhir/type "RelatedPerson"}}
