{ns hl7-fhir-us-core610.us-core-observation-pregnancystatus,
 import #{hl7-fhir-r4-core.Observation
          hl7-fhir-us-core610.value-set.us-core-pregnancy-status
          zen.fhir
          hl7-fhir-us-core610.us-core-patient},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-pregnancystatus",
         :require #{:value :effective :subject},
         :type zen/map,
         :zen/desc "The US Core Pregnancy Status Observation Profile is based upon the core FHIR Observation Resource and implements the US Core Data for Interoperability (USCDI) v3 Pregnancy status requirements. This profile sets minimum expectations for the Observation resource to record, search, and fetch the \"state or condition of being pregnant\" associated with a patient to promote interoperability and adoption through common implementation. It identifies which core elements, extensions, vocabularies, and value sets **SHALL** be present in the resource and constrains the way the elements are used when using this profile. It provides the floor for standards development for specific use cases.",
         :keys {:status {:fhir/flags #{:MS},
                         :zen/desc "(USCDI) registered | preliminary | final | amended +"},
                :category {:type zen/vector,
                           :slicing {:slices {"SocialHistory" {:schema {:type zen/vector,
                                                                        :maxItems 1},
                                                               :filter {:engine :match,
                                                                        :match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/observation-category",
                                                                                           :code "social-history"}}}}}}},
                           :every {:fhir/flags #{:MS},
                                   :zen/desc "(USCDI) Classification of  type of observation"}},
                :code {:match {:coding #{{:system "http://loinc.org",
                                          :code "82810-3"}}},
                       :fhir/flags #{:MS},
                       :zen/desc "(USCDI) Pregnancy Status"},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-core610.us-core-patient/schema}},
                          :zen/desc "(USCDI) Who and/or what the observation is about"},
                :effective {:type zen/map,
                            :keys {:dateTime {:fhir/flags #{:MS},
                                              :zen/desc "(USCDI) Clinically relevant time/time-period for observation"}},
                            :require #{:dateTime}},
                :value {:type zen/map,
                        :keys {:CodeableConcept {:fhir/flags #{:MS},
                                                 :zen.fhir/value-set {:symbol hl7-fhir-us-core610.value-set.us-core-pregnancy-status/value-set,
                                                                      :strength :preferred},
                                                 :zen/desc "(USCDI) Coded Responses from Pregnancy Status Value Set"}},
                        :require #{:CodeableConcept}}},
         :zen.fhir/type "Observation"}}
