{ns hl7-fhir-us-core610.us-core-practitionerrole,
 import #{zen.fhir
          us-nlm-vsac.value-set.2.16.840.1.114222.4.11.1066
          us-nlm-vsac.value-set.2.16.840.1.113762.1.4.1099.30
          hl7-fhir-r4-core.PractitionerRole
          hl7-fhir-us-core610.us-core-practitioner
          hl7-fhir-us-core610.us-core-organization},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "This profile sets minimum expectations for the PractitionerRole Resource to record, search, and fetch the practitioner role for a practitioner to promote interoperability and adoption through common implementation.  It identifies which core elements, extensions, vocabularies, and value sets **SHALL** be present and constrains the way the elements are used and constrains the way the elements are used when using the profile.  It provides the floor for standards development for specific use cases.  The requirements for the US Core Practitioner were drawn from the [Argonaut Provider Directory](http://www.fhir.org/guides/argonaut/pd//release1/index.html), [IHE Healthcare Provider Directory](http://ihe.net/uploadedFiles/Documents/ITI/IHE_ITI_Suppl_HPD.pdf) and the [ONC Provider Directory Workshop](https://confluence.oncprojectracking.org/display/PDW/Workshop+Documents).",
         :zen.fhir/type "PractitionerRole",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitionerrole",
         :zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.PractitionerRole/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:practitioner {:fhir/flags #{:MS},
                               :confirms #{zen.fhir/Reference},
                               :zen.fhir/reference {:refers #{hl7-fhir-us-core610.us-core-practitioner/schema}}},
                :organization {:fhir/flags #{:MS},
                               :confirms #{zen.fhir/Reference},
                               :zen.fhir/reference {:refers #{hl7-fhir-us-core610.us-core-organization/schema}}},
                :code {:type zen/vector,
                       :every {:fhir/flags #{:MS},
                               :zen.fhir/value-set {:symbol us-nlm-vsac.value-set.2.16.840.1.113762.1.4.1099.30/value-set,
                                                    :strength :extensible}}},
                :specialty {:type zen/vector,
                            :every {:fhir/flags #{:MS},
                                    :zen.fhir/value-set {:symbol us-nlm-vsac.value-set.2.16.840.1.114222.4.11.1066/value-set,
                                                         :strength :extensible}}},
                :location {:type zen/vector,
                           :every {:fhir/flags #{:MS},
                                   :confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{}}}},
                :healthcareService {:type zen/vector,
                                    :every {:confirms #{zen.fhir/Reference},
                                            :zen.fhir/reference {:refers #{}}}},
                :telecom {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:system {:fhir/flags #{:MS}},
                                         :value {:fhir/flags #{:MS}}},
                                  :require #{:system :value},
                                  :fhir/flags #{:MS}}},
                :endpoint {:type zen/vector,
                           :every {:fhir/flags #{:MS},
                                   :confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{}}}}}}}
