{ns hl7-fhir-us-core610.us-core-practitioner,
 import #{hl7-fhir-us-core610.value-set.us-core-usps-state
          zen.fhir
          hl7-fhir-r4-core.Practitioner},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.Practitioner/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitioner",
         :require #{:name :identifier},
         :type zen/map,
         :zen/desc "This profile sets minimum expectations for the Practitioner resource to record, search, and fetch basic demographics and other administrative information about an individual practitioner to promote interoperability and adoption through common implementation.  It identifies which core elements, extensions, vocabularies, and value sets **SHALL** be present and constrains the way the elements are used and constrains the way the elements are used when using the profile.  It provides the floor for standards development for specific use cases.",
         :keys {:identifier {:type zen/vector,
                             :slicing {:slices {"NPI" {:schema {:type zen/vector},
                                                       :filter {:engine :match,
                                                                :match {:system "http://hl7.org/fhir/sid/us-npi"}}}}},
                             :every {:type zen/map,
                                     :keys {:system {:fhir/flags #{:MS}},
                                            :value {:fhir/flags #{:MS}}},
                                     :require #{:system :value},
                                     :fhir/flags #{:MS}},
                             :minItems 1},
                :name {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:family {:fhir/flags #{:MS}}},
                               :require #{:family},
                               :fhir/flags #{:MS}},
                       :minItems 1},
                :telecom {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:system {:fhir/flags #{:MS}},
                                         :value {:fhir/flags #{:MS}}},
                                  :fhir/flags #{:MS}}},
                :address {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:city {:fhir/flags #{:MS}},
                                         :state {:fhir/flags #{:MS},
                                                 :zen.fhir/value-set {:symbol hl7-fhir-us-core610.value-set.us-core-usps-state/value-set,
                                                                      :strength :extensible}},
                                         :line {:type zen/vector,
                                                :every {:fhir/flags #{:MS}},
                                                :maxItems 4},
                                         :postalCode {:fhir/flags #{:MS},
                                                      :zen/desc "US Zip Codes"},
                                         :country {:fhir/flags #{:MS}}},
                                  :fhir/flags #{:MS},
                                  :zen/desc "Address(es) of the practitioner"}}},
         :zen.fhir/type "Practitioner"}}
