{ns hl7-fhir-us-core610.us-core-patient,
 import #{hl7-fhir-us-core610.value-set.us-core-usps-state
          hl7-fhir-us-core610.us-core-birthsex
          hl7-fhir-us-core610.us-core-sex
          zen.fhir
          hl7-fhir-us-core610.us-core-genderIdentity
          hl7-fhir-r4-core.Patient
          hl7-fhir-r4-core.value-set.administrative-gender
          hl7-fhir-us-core610.value-set.simple-language
          hl7-fhir-us-core610.us-core-ethnicity
          hl7-fhir-us-core610.us-core-tribal-affiliation
          hl7-fhir-us-core610.us-core-race
          hl7-fhir-r4-core.value-set.contact-point-use
          hl7-fhir-r4-core.value-set.contact-point-system},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.Patient/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-patient",
         :require #{:name :identifier :gender},
         :type zen/map,
         :zen/desc "The US Core Patient Profile meets the U.S. Core Data for Interoperability (USCDI) v3 'Patient Demographics' requirements. This profile sets minimum expectations for the Patient resource to record, search, and fetch basic demographics and other administrative information about an individual patient. It identifies which core elements, extensions, vocabularies, and value sets **SHALL** be present in the resource when using this profile to promote interoperability and adoption through common implementation.  It identifies which core elements, extensions, vocabularies, and value sets **SHALL** be present in the resource and constrains the way the elements are used when using this profile.  It provides the floor for standards development for specific use cases.",
         :keys {:address {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:use {:zen/desc "(USCDI) home | work | temp | old | billing - purpose of this address"},
                                         :city {:fhir/flags #{:MS},
                                                :zen/desc "(USCDI) Name of city, town etc."},
                                         :state {:fhir/flags #{:MS},
                                                 :zen.fhir/value-set {:symbol hl7-fhir-us-core610.value-set.us-core-usps-state/value-set,
                                                                      :strength :extensible},
                                                 :zen/desc "(USCDI) Sub-unit of country (abbreviations ok)"},
                                         :line {:type zen/vector,
                                                :every {:fhir/flags #{:MS},
                                                        :zen/desc "(USCDI) Street name, number, direction & P.O. Box etc."}},
                                         :postalCode {:fhir/flags #{:MS},
                                                      :zen/desc "(USCDI) US Zip Codes"},
                                         :period {:zen/desc "(USCDI) Time period when address was/is in use"}},
                                  :fhir/flags #{:MS},
                                  :zen/desc "(USCDI) An address for the individual"}},
                :sex {:confirms #{hl7-fhir-us-core610.us-core-sex/schema},
                      :fhir/extensionUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-sex",
                      :zen/desc "(USCDI) Sex Extension"},
                :race {:confirms #{hl7-fhir-us-core610.us-core-race/schema},
                       :fhir/extensionUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-race",
                       :zen/desc "(USCDI) US Core Race Extension"},
                :name {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:suffix {:type zen/vector,
                                               :every {:zen/desc "(USCDI) Parts that come after the name"}},
                                      :given {:type zen/vector,
                                              :every {:fhir/flags #{:MS},
                                                      :zen/desc "(USCDI) Given names (not always 'first'). Includes middle names"}},
                                      :family {:fhir/flags #{:MS},
                                               :zen/desc "(USCDI) Family name (often called 'Surname')"},
                                      :use {:zen/desc "(USCDI) usual | official | temp | nickname | anonymous | old | maiden"},
                                      :period {:zen/desc "(USCDI) Time period when name was/is in use"}},
                               :fhir/flags #{:MS},
                               :zen/desc "(USCDI) A name associated with the patient"},
                       :minItems 1},
                :birthDate {:fhir/flags #{:MS},
                            :zen/desc "(USCDI) The date of birth for the individual"},
                :ethnicity {:confirms #{hl7-fhir-us-core610.us-core-ethnicity/schema},
                            :fhir/extensionUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-ethnicity",
                            :zen/desc "(USCDI) US Core ethnicity Extension"},
                :deceased {:fhir/polymorphic true,
                           :type zen/map,
                           :zen/desc "(USCDI) Indicates if the individual is deceased or not"},
                :communication {:type zen/vector,
                                :every {:type zen/map,
                                        :keys {:language {:fhir/flags #{:MS},
                                                          :zen.fhir/value-set {:symbol hl7-fhir-us-core610.value-set.simple-language/value-set,
                                                                               :strength :extensible},
                                                          :zen/desc "(USCDI) The language which can be used to communicate with the patient about his or her health"}},
                                        :zen/desc "(USCDI) A language which may be used to communicate with the patient about his or her health"}},
                :tribalAffiliation {:type zen/vector,
                                    :every {:confirms #{hl7-fhir-us-core610.us-core-tribal-affiliation/schema},
                                            :fhir/extensionUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-tribal-affiliation",
                                            :zen/desc "(USCDI) Tribal Affiliation Extension"}},
                :identifier {:type zen/vector,
                             :every {:type zen/map,
                                     :keys {:system {:fhir/flags #{:MS},
                                                     :zen/desc "(USCDI) The namespace for the identifier value"},
                                            :value {:fhir/flags #{:MS},
                                                    :zen/desc "(USCDI) The value that is unique within the system."}},
                                     :require #{:system :value},
                                     :fhir/flags #{:MS},
                                     :zen/desc "(USCDI) An identifier for this patient"},
                             :minItems 1},
                :genderIdentity {:type zen/vector,
                                 :every {:confirms #{hl7-fhir-us-core610.us-core-genderIdentity/schema},
                                         :fhir/extensionUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-genderIdentity",
                                         :zen/desc "(USCDI) The individual's gender identity"}},
                :telecom {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:system {:fhir/flags #{:MS},
                                                  :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.contact-point-system/value-set,
                                                                       :strength :required},
                                                  :zen/desc "(USCDI) phone | fax | email | pager | url | sms | other"},
                                         :value {:fhir/flags #{:MS},
                                                 :zen/desc "(USCDI) The actual contact point details"},
                                         :use {:fhir/flags #{:MS},
                                               :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.contact-point-use/value-set,
                                                                    :strength :required},
                                               :zen/desc "(USCDI) home | work | temp | old | mobile - purpose of this contact point"}},
                                  :require #{:system :value},
                                  :zen/desc "(USCDI) A contact detail for the individual"}},
                :gender {:fhir/flags #{:MS},
                         :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.administrative-gender/value-set,
                                              :strength :required},
                         :zen/desc "(USCDI) male | female | other | unknown"},
                :birthsex {:confirms #{hl7-fhir-us-core610.us-core-birthsex/schema},
                           :fhir/extensionUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-birthsex",
                           :zen/desc "Birth Sex Extension"}},
         :zen.fhir/type "Patient"}}
