{ns hl7-fhir-us-core610.us-core-questionnaireresponse,
 import #{hl7-fhir-r4-core.Device
          hl7-fhir-us-core610.us-core-relatedperson
          zen.fhir
          hl7-fhir-us-core610.us-core-extension-questionnaire-uri
          hl7-fhir-r4-core.PractitionerRole
          hl7-fhir-us-core610.us-core-practitioner
          hl7-fhir-uv-sdc.sdc-questionnaireresponse
          hl7-fhir-us-core610.us-core-organization
          hl7-fhir-us-core610.us-core-patient
          hl7-fhir-us-core610.us-core-questionnaireresponse},
 item-schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
              :zen.fhir/version "0.6.32",
              :type zen/map,
              :keys {:linkId {:fhir/flags #{:MS},
                              :zen/desc "(USCDI) Pointer to specific item from Questionnaire"},
                     :answer {:type zen/vector,
                              :every {:type zen/map,
                                      :keys {:value {:fhir/polymorphic true,
                                                     :type zen/map,
                                                     :exclusive-keys #{#{:date
                                                                         :time
                                                                         :string
                                                                         :dateTime
                                                                         :integer
                                                                         :decimal
                                                                         :Attachment
                                                                         :Coding
                                                                         :uri
                                                                         :Quantity
                                                                         :boolean
                                                                         :Reference}},
                                                     :keys {:Reference {:confirms #{zen.fhir/Reference},
                                                                        :zen.fhir/reference {:refers #{}}}},
                                                     :fhir/flags #{:MS},
                                                     :zen/desc "(USCDI) Single-valued answer to the question"}}}},
                     :item {:type zen/vector,
                            :every {:confirms #{hl7-fhir-us-core610.us-core-questionnaireresponse/item-schema}}}},
              :fhir/flags #{:MS},
              :zen/desc "(USCDI) Groups and questions"},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-uv-sdc.sdc-questionnaireresponse/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-questionnaireresponse",
         :require #{:subject},
         :type zen/map,
         :zen/desc "To promote interoperability and adoption through common implementation, this profile sets minimum expectations for the QuestionnaireResponse resource to record, search, and fetch retrieve captures the responses to form/survey and assessment tools such as the *Protocol for Responding to and Assessing Patients’ Assets, Risks, and Experiences (PRAPARE) Survey*.   This profile is based on the [Structured Data Capture (SDC) Questionnaire Response Profile](http://hl7.org/fhir/uv/sdc/STU3/StructureDefinition-sdc-questionnaireresponse.html) and identifies the *additional* core elements, extensions, vocabularies and value sets **SHALL** be present in the resource and constrains the way the elements are used when using this profile. It provides the floor for standards development for specific uses cases.",
         :keys {:questionnaire {:fhir/flags #{:MS},
                                :zen/desc "(USCDI) Form being answered"},
                :item {:type zen/vector,
                       :every {:confirms #{hl7-fhir-us-core610.us-core-questionnaireresponse/item-schema}}},
                :author {:fhir/flags #{:MS},
                         :confirms #{zen.fhir/Reference},
                         :zen.fhir/reference {:refers #{hl7-fhir-us-core610.us-core-practitioner/schema
                                                        hl7-fhir-r4-core.PractitionerRole/schema
                                                        hl7-fhir-us-core610.us-core-relatedperson/schema
                                                        hl7-fhir-r4-core.Device/schema
                                                        hl7-fhir-us-core610.us-core-patient/schema
                                                        hl7-fhir-us-core610.us-core-organization/schema}},
                         :zen/desc "(USCDI) Person who received and recorded the answers"},
                :status {:fhir/flags #{:MS},
                         :zen/desc "(USCDI) in-progress | completed | amended | entered-in-error | stopped"},
                :authored {:fhir/flags #{:MS},
                           :zen/desc "(USCDI) Date the answers were gathered"},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-core610.us-core-patient/schema}},
                          :zen/desc "(USCDI) The subject of the questions"},
                :_questionnaire {:type zen/map,
                                 :keys {:url {:confirms #{hl7-fhir-us-core610.us-core-extension-questionnaire-uri/schema},
                                              :fhir/extensionUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-extension-questionnaire-uri",
                                              :fhir/flags #{:MS},
                                              :zen/desc "(USCDI) The location where a non-FHIR questionnaire/survey form can be found."}}}},
         :zen.fhir/type "QuestionnaireResponse"}}
