{ns hl7-fhir-us-core610.us-core-implantable-device,
 import #{hl7-fhir-r4-core.Device
          zen.fhir
          hl7-fhir-r4-core.value-set.device-kind
          hl7-fhir-us-core610.us-core-patient},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.Device/schema zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-implantable-device",
         :require #{:patient :type},
         :type zen/map,
         :zen/desc "The US Core Implantable Device Profile is based upon the core FHIR Device Resource and meets the U.S. Core Data for Interoperability (USCDI) v2 *Unique Device Identifier(s) for a Patient's Implantable Device(s)* requirements. To promote interoperability and adoption through common implementation, this profile sets minimum expectations for the Device resource to record, search, and fetch UDI information associated with a patient's implantable device(s). It identifies which core elements, extensions, vocabularies, and value sets **SHALL** be present in the resource and constrains the way the elements are used when using this profile. It provides the floor for standards development for specific use cases.",
         :keys {:patient {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-core610.us-core-patient/schema}},
                          :zen/desc "(USCDI) Patient to whom Device is affixed"},
                :serialNumber {:fhir/flags #{:MS},
                               :zen/desc "(USCDI) Serial number assigned by the manufacturer"},
                :type {:fhir/flags #{:MS},
                       :zen.fhir/value-set {:symbol hl7-fhir-r4-core.value-set.device-kind/value-set,
                                            :strength :extensible},
                       :zen/desc "(USCDI) The kind or type of device"},
                :distinctIdentifier {:fhir/flags #{:MS},
                                     :zen/desc "(USCDI) The distinct identification string"},
                :lotNumber {:fhir/flags #{:MS},
                            :zen/desc "(USCDI) Lot number of manufacture"},
                :manufactureDate {:fhir/flags #{:MS},
                                  :zen/desc "(USCDI) Date when the device was made"},
                :expirationDate {:fhir/flags #{:MS},
                                 :zen/desc "(USCDI) Date and time of expiry of this device (if applicable)"},
                :udiCarrier {:type zen/vector,
                             :every {:type zen/map,
                                     :keys {:deviceIdentifier {:fhir/flags #{:MS},
                                                               :zen/desc "(USCDI) Mandatory fixed portion of UDI"},
                                            :carrierHRF {:fhir/flags #{:MS},
                                                         :zen/desc "(USCDI) UDI Human Readable Barcode String"}},
                                     :require #{:deviceIdentifier},
                                     :fhir/flags #{:MS},
                                     :zen/desc "(USCDI) Unique Device Identifier (UDI) Barcode string"},
                             :maxItems 1}},
         :zen.fhir/type "Device"}}
