{ns hl7-fhir-us-core610.us-core-observation-occupation,
 import #{us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7901
          hl7-fhir-r4-core.Observation
          zen.fhir
          hl7-fhir-us-core610.us-core-patient
          us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7900},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-occupation",
         :require #{:value :subject},
         :type zen/map,
         :zen/desc "The US Core Occupation Observation Profile is based upon the core FHIR Observation Resource and implements the US Core Data for Interoperability (USCDI) Occupation and Occupation Industry requirements. This profile promotes interoperability and adoption through common implementation by setting minimum expectations for the Observation resource to record, search, and fetch a patient's past or present job and \"type of business that compensates for work or assigns work to an unpaid worker or volunteer\". In the context of this profile, a job is defined as a work situation, training position, or volunteer position held for a specified period. It identifies which core elements, extensions, vocabularies, and value sets **SHALL** be present and constrains the way the elements are used and constrains the way the elements are used when using the profile. It provides the floor for standards development for specific use cases.",
         :keys {:status {:fhir/flags #{:MS},
                         :zen/desc "(USCDI) registered | preliminary | final | amended +"},
                :category {:type zen/vector,
                           :slicing {:slices {"socialhistory" {:schema {:type zen/vector,
                                                                        :maxItems 1},
                                                               :filter {:engine :match,
                                                                        :match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/observation-category",
                                                                                           :code "social-history"}}}}}}},
                           :every {:fhir/flags #{:MS},
                                   :zen/desc "(USCDI) Classification of  type of observation"}},
                :code {:match {:coding #{{:system "http://loinc.org",
                                          :code "11341-5"}}},
                       :fhir/flags #{:MS},
                       :zen/desc "(USCDI) Occupation history"},
                :subject {:fhir/flags #{:MS},
                          :confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-us-core610.us-core-patient/schema}},
                          :zen/desc "(USCDI) Who and/or what the observation is about"},
                :effective {:type zen/map,
                            :keys {:Period {:fhir/flags #{:MS},
                                            :zen/desc "(USCDI) Clinically relevant time/time-period for observation"}}},
                :value {:type zen/map,
                        :keys {:CodeableConcept {:fhir/flags #{:MS},
                                                 :zen.fhir/value-set {:symbol us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7901/value-set,
                                                                      :strength :extensible},
                                                 :zen/desc "(USCDI) Coded occupation or text"}},
                        :require #{:CodeableConcept}},
                :component {:type zen/vector,
                            :slicing {:slices {"industry" {:schema {:type zen/vector,
                                                                    :maxItems 1,
                                                                    :every {:type zen/map,
                                                                            :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                                                                                             :code "86188-0"}}},
                                                                                          :fhir/flags #{:MS},
                                                                                          :zen/desc "(USCDI) Occupation industry history"},
                                                                                   :value {:type zen/map,
                                                                                           :keys {:CodeableConcept {:fhir/flags #{:MS},
                                                                                                                    :zen.fhir/value-set {:symbol us-cdc-phinvads.value-set.2.16.840.1.114222.4.11.7900/value-set,
                                                                                                                                         :strength :extensible},
                                                                                                                    :zen/desc "(USCDI) Occupation industry or text"}},
                                                                                           :require #{:CodeableConcept}}}}},
                                                           :filter {:engine :match,
                                                                    :match {:code {:coding #{{:system "http://loinc.org",
                                                                                              :code "86188-0"}}}}}}}},
                            :every {:fhir/flags #{:MS},
                                    :zen/desc "(USCDI) Component results"}}},
         :zen.fhir/type "Observation"}}
