{ns hl7-fhir-us-core610.us-core-respiratory-rate,
 import #{hl7-fhir-us-core610.us-core-vital-signs zen.fhir},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "To promote interoperability and adoption through common implementation, this profile sets minimum expectations for the Observation resource to record, search, and fetch respiratory rate observations with a standard LOINC code and UCUM units of measure. It is based on the US Core Vital Signs Profile and identifies which *additional* core elements, extensions, vocabularies, and value sets **SHALL** be present and constrains the way the elements are used when using the profile. It provides the floor for standards development for specific use cases.",
         :zen.fhir/type "Observation",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/core/StructureDefinition/us-core-respiratory-rate",
         :zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-us-core610.us-core-vital-signs/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                          :code "9279-1"}}},
                       :fhir/flags #{:MS},
                       :zen/desc "(USCDI) Respiratory Rate"},
                :value {:type zen/map,
                        :keys {:Quantity {:type zen/map,
                                          :keys {:value {:fhir/flags #{:MS},
                                                         :zen/desc "(USCDI) Numerical value (with implicit precision)"},
                                                 :unit {:fhir/flags #{:MS},
                                                        :zen/desc "(USCDI) Unit representation"},
                                                 :system {:const {:value "http://unitsofmeasure.org"},
                                                          :fhir/flags #{:MS},
                                                          :zen/desc "(USCDI) System that defines coded unit form"},
                                                 :code {:const {:value "/min"},
                                                        :fhir/flags #{:MS},
                                                        :zen/desc "(USCDI) Coded responses from the common UCUM units for vital signs value set."}},
                                          :require #{:system
                                                     :unit
                                                     :value
                                                     :code},
                                          :fhir/flags #{:MS},
                                          :zen/desc "(USCDI) Vital Signs Value"}}}}}}
