{ns hl7-fhir-us-core610.value-set.birthsex,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes for assigning sex at birth as specified by the [Office of the National Coordinator for Health IT (ONC)](https://www.healthit.gov/newsroom/about-onc)",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-AdministrativeGender",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://terminology.hl7.org/CodeSystem/v3-NullFlavor",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/core/ValueSet/birthsex",
            :version "6.1.0",
            :ftr {:module "hl7-fhir-us-core610",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
