{ns hl7-fhir-us-core610.value-set.us-core-clinical-note-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The US Core Clinical Note Type Value Set is a 'starter set' of types supported for fetching and storing clinical notes.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://loinc.org",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/core/ValueSet/us-core-clinical-note-type",
            :version "6.1.0",
            :ftr {:module "hl7-fhir-us-core610",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
