{ns hl7-fhir-us-core610.value-set.us-core-observation-smokingstatus-max,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Representing a patient's smoking behavior using concepts from SNOMED CT.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://snomed.info/sct",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/us/core/ValueSet/us-core-observation-smokingstatus-max",
            :version "6.1.0",
            :ftr {:module "hl7-fhir-us-core610",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
