{ns hl7-fhir-us-core610.value-set.us-core-diagnosticreport-report-and-note-codes,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value set includes All LOINC codes defined as type \"clinical,\" therefore excluding laboratory tests, survey instruments, and claims documents. This includes observables such as vital signs, hemodynamics, intake/output, EKG, obstetric ultrasound, and cardiac echo, and includes discrete and narrative diagnostic observations and reports.",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://loinc.org",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/us/core/ValueSet/us-core-diagnosticreport-report-and-note-codes",
            :version "6.1.0"}}
