{ns hl7-fhir-us-core610.search.us-core-medicationrequest-patient,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "us-core-medicationrequest-patient",
         :fhir/url "http://hl7.org/fhir/us/core/SearchParameter/us-core-medicationrequest-patient",
         :fhir/type "reference",
         :name "patient",
         :expr {:MedicationRequest {:knife [["subject"
                                             {:resourceType "Patient"}]],
                                    :jsonpath ["$.\"subject\"?(@.\"resourceType\"==\"Patient\")[*]"],
                                    :data-types #{{:type "Reference",
                                                   :polymorphic? false}},
                                    :template :reference}}}}
