{ns hl7-fhir-us-core610.search.us-core-practitioner-id,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "us-core-practitioner-id",
         :fhir/url "http://hl7.org/fhir/us/core/SearchParameter/us-core-practitioner-id",
         :fhir/type "token",
         :name "_id",
         :expr {:Practitioner {:knife [["id"]],
                               :jsonpath ["$.\"id\"[*]"],
                               :data-types #{},
                               :template :token}}}}
