{ns hl7-fhir-us-core610.search.us-core-careplan-category,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "us-core-careplan-category",
         :fhir/url "http://hl7.org/fhir/us/core/SearchParameter/us-core-careplan-category",
         :fhir/type "token",
         :name "category",
         :expr {:CarePlan {:knife [["category"]],
                           :jsonpath ["$.\"category\"[*]"],
                           :data-types #{{:type "CodeableConcept",
                                          :polymorphic? false}},
                           :template :token}}}}
