{ns hl7-fhir-us-core610.search.us-core-device-patient,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "us-core-device-patient",
         :fhir/url "http://hl7.org/fhir/us/core/SearchParameter/us-core-device-patient",
         :fhir/type "reference",
         :name "patient",
         :expr {:Device {:knife [["patient"]],
                         :jsonpath ["$.\"patient\"[*]"],
                         :data-types #{{:type "Reference",
                                        :polymorphic? false}},
                         :template :reference}}}}
