{ns hl7-fhir-us-core610.search.us-core-patient-id,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "us-core-patient-id",
         :fhir/url "http://hl7.org/fhir/us/core/SearchParameter/us-core-patient-id",
         :fhir/type "token",
         :name "_id",
         :expr {:Patient {:knife [["id"]],
                          :jsonpath ["$.\"id\"[*]"],
                          :data-types #{},
                          :template :token}}}}
