{ns hl7-fhir-us-core610.search.us-core-diagnosticreport-code,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "us-core-diagnosticreport-code",
         :fhir/url "http://hl7.org/fhir/us/core/SearchParameter/us-core-diagnosticreport-code",
         :fhir/type "token",
         :name "code",
         :expr {:DiagnosticReport {:knife [["code"]],
                                   :jsonpath ["$.\"code\"[*]"],
                                   :data-types #{{:type "CodeableConcept",
                                                  :polymorphic? false}},
                                   :template :token}}}}
