{ns hl7-fhir-us-core610.search.us-core-careplan-status,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "us-core-careplan-status",
         :fhir/url "http://hl7.org/fhir/us/core/SearchParameter/us-core-careplan-status",
         :fhir/type "token",
         :name "status",
         :expr {:CarePlan {:knife [["status"]],
                           :jsonpath ["$.\"status\"[*]"],
                           :data-types #{{:type "code",
                                          :polymorphic? false}},
                           :template :token}}}}
