{ns hl7-fhir-us-core610.search.us-core-documentreference-date,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "us-core-documentreference-date",
         :fhir/url "http://hl7.org/fhir/us/core/SearchParameter/us-core-documentreference-date",
         :fhir/type "date",
         :name "date",
         :expr {:DocumentReference {:knife [["date"]],
                                    :jsonpath ["$.\"date\"[*]"],
                                    :data-types #{{:type "instant",
                                                   :polymorphic? false}},
                                    :template :date,
                                    :sql {:where [:or
                                                  [:and
                                                   [:>=
                                                    [:pg/call
                                                     :max_text_date_bound
                                                     [:pg/sql
                                                      "{{param}}"]]
                                                    [:pg/call
                                                     :jsonpath_extract_max_timestamptz
                                                     [:pg/sql
                                                      "{{table}}.resource"]
                                                     "$.\"date\"[*]"]]
                                                   [:<=
                                                    [:pg/call
                                                     :min_text_date_bound
                                                     [:pg/sql
                                                      "{{param}}"]]
                                                    [:pg/call
                                                     :jsonpath_extract_min_timestamptz
                                                     [:pg/sql
                                                      "{{table}}.resource"]
                                                     "$.\"date\"[*]"]]]]}}}}}
