{ns hl7-fhir-us-core610.search.us-core-condition-code,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "us-core-condition-code",
         :fhir/url "http://hl7.org/fhir/us/core/SearchParameter/us-core-condition-code",
         :fhir/type "token",
         :name "code",
         :expr {:Condition {:knife [["code"]],
                            :jsonpath ["$.\"code\"[*]"],
                            :data-types #{{:type "CodeableConcept",
                                           :polymorphic? false}},
                            :template :token}}}}
