{ns hl7-fhir-us-core610.search.us-core-specimen-patient,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "us-core-specimen-patient",
         :fhir/url "http://hl7.org/fhir/us/core/SearchParameter/us-core-specimen-patient",
         :fhir/type "reference",
         :name "patient",
         :expr {:Specimen {:knife [["subject"
                                    {:resourceType "Patient"}]],
                           :jsonpath ["$.\"subject\"?(@.\"resourceType\"==\"Patient\")[*]"],
                           :data-types #{{:type "Reference",
                                          :polymorphic? false}},
                           :template :reference}}}}
